@model IEnumerable<Test1.Models.Customer>

@{
    ViewBag.Title = "Index";
}
<p>
    <a href="@Url.Action("Create", "Customers")" class="btn btn-secondary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">ເພີ່ມ</span>
    </a>
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            ຂໍ້ມູນລູກຄ້າ
        </h6>
    </div>
    <div class="card-body">
        <table class="table" id="tb">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Firstname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lastname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BirthDay)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Weight)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Height)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Firstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lastname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Weight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Height)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit","Customers", new { id = item.ID })" class="btn btn-info">
                                <i class="fas fa-info-circle"></i>
                            </a>
                            <a href="@Url.Action("Delete","Customers", new { id = item.ID })" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Styles{

    <link href="~/Content/Assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/Content/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tb').DataTable();
        });
    </script>
}
