@model Test1.Models.Category

@{
    ViewBag.Title = "Delete";
}

<h2>ລົບ</h2>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">

            ປະເພດ
        </h6>
    </div>
    <div class="card-body">
        <div>
            <h3>ທ່ານຕ້ອງການລົບຂໍ້ມູນນີ້ຫຼືບໍ່?</h3>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    ຊື່ປະເພດ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CateName)
                </dd>

                <dt>
                   Code
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CateCode)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @*<input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")*@
            <a href="@Url.Action("Index", "Categories")" class="btn btn-light btn-icon-split">
                <span class="icon text-gray-600">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text">ກັບຄືນ</span>
            </a>
            <button class="btn btn-danger btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-trash"></i>
                </span>
                <span class="text">ລົບ</span>
            </button>
        </div>
            }
        </div>
    </div>
</div>


